@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="css/WelcomePage.css">
<body>
<div class="text-center" id="WelcomeText">
    <h1>Welcome to HankSmoody</h1>
    <p>We enlighten your day with fun posts (better than "Reddit"), make sure to either log-in og register!</p>
    <p>We always need more in our community :) </p>
</div>
</body>
